<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eticket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eticket.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/assets/vendor_assets/css/daterangepicker.css">
    <link rel="stylesheet" href="~/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/assets/vendor_assets/css/fontawesome.css"> @* Icons *@
    <link rel="stylesheet" href="~/assets/vendor_assets/css/line-awesome.min.css">  @* Icons *@
    <link rel="stylesheet" href="~/assets/vendor_assets/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/vendor_assets/css/trumbowyg.min.css">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/hexadash-style.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="layout-light side-menu">

    <header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <div class="logo-area">
                    <a class="navbar-brand uppercase text-white" asp-action="Index" asp-controller="Home">
                        <img class="dark" src="~/img/caev-logo.png" alt="logo">
                        <img class="light" src="~/img/caev-logo.png" alt="logo">
                    </a>
                    <a href="#" class="sidebar-toggle">
                        <img class="svg" src="~/img/svg/align-center-alt.svg" alt="img">
                    </a>
                </div>
                <div class="top-menu">

                    <div class="hexadash-top-menu position-relative">
                        <ul class="d-flex align-items-center flex-wrap">
                            <li>
                                <a asp-action="" asp-controller="Home" class="active">
                                    <span class="nav-icon uil uil-create-dashboard"></span>
                                    <span class="menu-text">Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Reportes"class="">
                                    <span class="nav-icon uil uil-window"></span>
                                    <span class="menu-text">Reportes</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- ends: navbar-left -->
            <div class="navbar-right">
                <ul class="navbar-right__menu">
                    <li class="nav-search">
                        <a href="#" class="search-toggle">
                            <i class="uil uil-search"></i>
                            <i class="uil uil-times"></i>
                        </a>
                        <form action="/" class="search-form-topMenu">
                            <span class="search-icon uil uil-search"></span>
                            <input class="form-control me-sm-2 box-shadow-none" type="search" placeholder="Buscar..." aria-label="Search">
                        </form>
                    </li>
                    <li class="nav-notification">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle icon-active">
                            <img class="svg" src="~/img/svg/alarm.svg" alt="img">
                            </a>
                            <div class="dropdown-parent-wrapper">
                            <div class="dropdown-wrapper">
                                <h2 class="dropdown-wrapper__title">Notificaciones <span class="badge-circle badge-warning ms-1">4</span></h2>
                                <ul>
                                    <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--primary">
                                            <img class="svg" src="~/img/svg/inbox.svg" alt="inbox">
                                            </div>
                                            <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">Admin</a>
                                                <span>te envio un mensaje</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="nav-notification__single nav-notification__single d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--danger">
                                            <img src="~/img/svg/heart.svg" alt="heart" class="svg">
                                            </div>
                                            <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">Admin</a>
                                                <span>te envio un mensaje</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="" class="dropdown-wrapper__more">Mostrar todas las notificaciones</a>
                            </div>
                            </div>
                        </div>
                    </li>
                    <!-- ends: .nav-notification -->
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        var nombreUsuario = User.Identity.Name;
                        <li class="nav-author">
                            <div class="dropdown-custom">
                                <a href="javascript:;" class="nav-item-toggle">
                                    <img src="https://ui-avatars.com/api/?color=333&rounded=true&name=@nombreUsuario" alt="" class="rounded-circle">
                                    <span class="nav-item__title">
                                        @nombreUsuario <i class="las la-angle-down nav-item__arrow"></i>
                                    </span>
                                </a>
                                <div class="dropdown-parent-wrapper">
                                    <div class="dropdown-wrapper">
                                        <div class="nav-author__info">
                                            <div class="author-img">
                                                <img src="https://ui-avatars.com/api/?color=333&rounded=true&name=@nombreUsuario" alt="" class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6>@nombreUsuario</h6>
                                                @* <span>Rol</span> *@
                                            </div>
                                        </div>
                                        <div class="nav-author__options">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="uil uil-user"></i> Perfil
                                                    </a>
                                                </li>
                                                @* <li>
                                                    <a href="">
                                                        <i class="uil uil-setting"></i>Settings
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="uil uil-users-alt"></i> Activity
                                                    </a>
                                                </li> *@
                                            </ul>
                                            <a asp-action="Logout" asp-controller="Logearse" class="nav-author__signout">
                                                <i class="uil uil-sign-out-alt"></i> Cerrar Sesion
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <!-- ends: .navbar-right__menu -->
                <div class="navbar-right__mobileAction d-md-none">
                    <a href="#" class="btn-search">
                        <img src="~/img/svg/search.svg" alt="search" class="svg feather-search">
                        <img src="~/img/svg/x.svg" alt="x" class="svg feather-x"></a>
                    <a href="#" class="btn-author-action">
                        <img class="svg" src="~/img/svg/more-vertical.svg" alt="more-vertical"></a>
                </div>
            </div>
            <!-- ends: .navbar-right -->
        </nav>
    </header>

    
    <main class="main-content">

        <div class="sidebar-wrapper">
            <div class="sidebar sidebar-collapse" id="sidebar">
                <div class="sidebar__menu-group">
                    <ul class="sidebar_nav">
                        <li>
                            <a asp-action="" asp-controller="Home" class="active">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="NuevoReporte" asp-controller="Reportes"class="">
                                <span class="nav-icon las la-folder-plus"></span>
                                <span class="menu-text">Nuevo Reporte</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Reportes"class="">
                                <span class="nav-icon uil uil-window"></span>
                                <span class="menu-text">Reportes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="">
                                <span class="nav-icon uil uil-chat"></span>
                                <span class="menu-text">Ordenes de Trabajo</span>
                                <span class="badge badge-success menuItem rounded-circle">3</span>
                            </a>
                        </li>
                        
                        @* Separador *@
                        <li class="menu-title mt-30">
                            <span></span>
                        </li>
                        <li>
                            <a asp-controller="Users" asp-action="Index">
                                <span class="nav-icon uil uil-user"></span>
                                <span class="menu-text">Usuarios</span>
                            </a>
                        </li>
                        @* <li class="has-child open">
                            <a href="#" class="">
                                <span class="nav-icon uil uil-window-section"></span>
                                <span class="menu-text">Menu</span>
                                <span class="toggle-icon"></span>
                            </a>
                            <ul>
                                <li class="l_sidebar">
                                    <a href="#" data-layout="light">subMenu 1</a>
                                </li>
                                <li class="l_sidebar">
                                    <a href="#" data-layout="light">subMenu 2</a>
                                </li>
                                <li class="l_sidebar">
                                    <a href="#" data-layout="light">subMenu 3</a>
                                </li>
                            </ul>
                        </li> *@
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="contents mt-30 mb-25">
            <div class="container-fluid" style="min-height: 90vh;">
                @RenderBody()
            </div>
        </div>
    </main>

    <div id="overlayer">
        <div class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </div>
    </div>
    <div class="overlay-dark-sidebar"></div>
    <div class="customizer-overlay"></div>

    @await RenderSectionAsync("Modals", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/vendor_assets/js/jquery/jquery-ui.js"></script>
    <script src="~/assets/vendor_assets/js/bootstrap/popper.js"></script>
    <script src="~/assets/vendor_assets/js/moment/moment.min.js"></script>
    <script src="~/assets/vendor_assets/js/daterangepicker.js"></script>
    <script src="~/assets/vendor_assets/js/drawer.js"></script>
    <script src="~/assets/vendor_assets/js/dynamicBadge.js"></script>
    <script src="~/assets/vendor_assets/js/dynamicCheckbox.js"></script>
    <script src="~/assets/vendor_assets/js/footable.min.js"></script>
    <script src="~/assets/vendor_assets/js/drawer.js"></script>
    <script src="~/assets/vendor_assets/js/loader.js"></script>
    <script src="~/assets/vendor_assets/js/message.js"></script>
    <script src="~/assets/vendor_assets/js/moment.js"></script>
    <script src="~/assets/vendor_assets/js/notification.js"></script>
    <script src="~/assets/vendor_assets/js/select2.full.min.js"></script>
    <script src="~/assets/vendor_assets/js/trumbowyg.min.js"></script>
    <script src="~/assets/vendor_assets/js/trumbowyg-imagebase64.js"></script>
    <script src="~/assets/vendor_assets/js/trumbowyg.emoji.js"></script>
    <script src="~/assets/theme_assets/js/main.min.js"></script>
    <script>
        $(document).ready(function()
        {
            setTimeout(function(){
                document.querySelector(".sidebar-toggle").click();
            }, 1000);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
