@{
    ViewData["Title"] = "Home Page";
}

<div class="demo5 mt-30 mb-25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12 mb-4">
                <div class="card d-flex p-1 mt-1" style="background-color: var(--bg-primary-hover); justify-content: center;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6">
                                @await Html.PartialAsync("./Partials/Banner.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section id="resume-status">
                @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
            </section>

            <section id="resume-tipo">
                @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
            </section>

            <div class="col-12 mb-4">
                <div class="card revenueChartTwo border-0">
                    <div class="card-header border-0">
                        <h6 class="text-uppercase">Registros por dia del mes anterior</h6>
                    </div>
                    <div class="card-body pt-0 px-20">
                        <div class="wp-chart">
                            <div class="parentContainer">
                                <div>
                                    <canvas id="saleRevenueToday"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ends: .card-body -->
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .resume-title-card {
        max-width: 100%; /* default for xs */
    }

    @@media (min-width: 576px)
    {
        .resume-title-card
        {
            max-width: 8.5rem;
        }
    }
</style>

@section scripts
{
    <script src="~/assets/vendor_assets/js/Chart.min.js"></script>
    <script src="~/js/dashboard.min.js"></script>
}