@model eticket.ViewModels.ReporteRequest

<div class="fluid-container">
    <form id="nuevoReporteForm" onsubmit="submitNuevoReporte(event)">
        <div class="row">
            <div id="form-error" class="col-12 alert alert-danger d-none">Esto es error</div>
            @Html.AntiForgeryToken()
        </div>

        <div class="row">
            <div class="col-md-9">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Celular" class="form-label"></label>
                <input type="number" asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Correo" class="form-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Telefono" class="form-label"></label>
                <input type="number" asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Calle" class="form-label"></label>
                <input asp-for="Calle" class="form-control" required />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
    
            <div class="col-md-8">
                <label asp-for="EntreCalles" class="form-label"></label>
                <input asp-for="EntreCalles" class="form-control" />
                <span asp-validation-for="EntreCalles" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Colonia" class="form-label"></label>
                <input asp-for="Colonia" class="form-control" required />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Localidad" class="form-label"></label>
                <input asp-for="Localidad" class="form-control" required />
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
    
            <div class="col-md-4">
                <label asp-for="Municipio" class="form-label"></label>
                <input asp-for="Municipio" class="form-control" required />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Observaciones" class="form-label"></label>
                <textarea asp-for="Observaciones" class="form-control"></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label for="attachfile" class="btn btn-small btn-primary" id="upload-label">
                    <span class="upload-icon">
                        <i class="uil uil-paperclip"></i>
                        <span>Adjuntar Archivo</span>
                    </span>
                    <span class="upload-spinner d-none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Subiendo archivo...</span>
                    </span>
                </label>
                <span class="text-danger field-validation-valid" data-valmsg-for="file" data-valmsg-replace="true"></span>

                <div class="p-1 m-1 list-box text-limit">
                    <ul id="attachFiles" />
                </div>
            </div>

            <input asp-for="IdTipoReporte" type="hidden" />
            <input asp-for="IdTipoEntrada" type="hidden" />
            <input asp-for="IdEstatus" type="hidden" />
            <div id="hiddenFileInputs"></div>
    
            <div class="col-12 mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-success px-4" id="submit-button">
                    <span class="upload-icon">
                        <i class="fa fa-save"></i>
                        <span>Guardar</span>
                    </span>
                    <span class="upload-spinner d-none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Registrando reporte</span>
                    </span>
                </button>
            </div>
        </div>
    </form>
    
    <input id="attachfile" name="file" type="file" onchange="uploadAttachFile(event)" class="d-none">
</div>

