@model DetReporteRequest
@using eticket.ViewModels;

<div class="fluid-container">
    <form onsubmit="submitReporteForm(event)">
        <div class="row">
            <div class="col-12">
                <textarea asp-for="Observaciones" id="observaciones" class="form-control" required></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>

            <div class="col-12 d-flex align-items-center">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    <span class="h-5">Registrar Entrada</span>
                </button>
            </div>
        </div>
    </form>
</div>