@using eticket.ViewModels
@model IEnumerable<ReporteDTO>

<div class="userDatatable adv-table-table global-shadow border-light-0 w-100 adv-table">
    <div class="table-responsive">
        <div class="adv-table-table__header">
            <h4>Ultimos Reportes</h4>
            <div class="adv-table-table__button">

            </div>
        </div>
        <div id="filter-form-container"></div>
        <table class="table mb-0 table-borderless adv-table reportes-table stripe row-border order-column w-100"
            data-page-length='25'
        >
            <thead>
                <tr class="userDatatable-header">
                    <th>
                        <span class="userDatatable-title">Folio</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Nombre</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Municipio</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Fecha Registro</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Estatus</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Tipo de Reporte</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Tipo de Entrada</span>
                    </th>
                    <th>
                        <span class="userDatatable-title">Entradas</span>
                    </th>
                    <th>
                        <span class="userDatatable-title float-center">Acciones</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reporte in Model)
                {
                    @await Html.PartialAsync("./ReporteDataRow.cshtml", reporte);
                }
            </tbody>
        </table>
    </div>
</div>