@{
    ViewData["Title"] = "Últimos Reportes";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}

<h1>Reportes</h1>

<section id="form-section">
    @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
</section>

<section id="table-section" class="mt-4 border rounded bg-white shadow-sm p-3">
    @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
</section>

<!-- Modal Nuevo Det Reporte-->
<div class="modal fade new-member nuevo-reporte-modal" id="nuevo-reporte-modal" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h4 class="modal-title fw-500" id="staticBackdropLabel">Nuevo Reporte</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="~/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body" id="body-modal">
                @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "")
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<style>
    .trumbowyg-editor, .trumbowyg-textarea, .trumbowyg-box
    {
        min-height: 200px !important;
    }
</style>

@section scripts
{
    <script>
        let modal = undefined;
        let currentReportTypeId = undefined;
        let uploadingFile = false;
    </script>
    <script src="~/js/reportes-footable.js"></script>
    <script src="~/js/reportes.min.js"></script>
}