*, :root
{
  --color-primary: #a61645 !important;
  --bg-primary-hover: #83193c !important;
  --color-primary-rgba: 75, 20, 36 !important;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #4b1424;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
  text-decoration: none;
}